
body {
  color: #ffffff;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}

.my-wrapper {
    background-color: #3f51b5 ! important;
}

.my-wrapper > a {
    padding-left: 24px;
    font-size: 1.3125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 4.3rem;
}

.pane-holder {
    display: flex;
    width: 100vw;
    height: calc(100vh - 64px);
    position: absolute;
}

.left-pane {
    width: 240px;
    height: 100%;
    flex-shrink: 0;
    background: white;
    display: flex;
    flex-direction: column;
}

.right-pane {
  flex-grow: 1;
  overflow: hidden;
}

.input-holder {
  height: 54px;
  flex-shrink: 0;
  padding: 0 12px;
  overflow: hidden;
}

.input-holder > .input-field {
    margin-top: 4px;
    margin-bottom: 0;
    border: none;
}


.input-holder > .input-field > input {
    border: none ! important;
    box-shadow: none ! important;
}

.scroller {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

#listOfObjects {
  border: none;
      margin-top: 0;
}

#listOfObjects > li.collection-item a.secondary-content {

     color: rgba(0, 0, 0, 0.54);
}

#listOfObjects > li.collection-item {

      color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;

    border: none;

    cursor: pointer;
    transition: all 300ms ease;
    background-color: transparent;
  }

#listOfObjects > li.collection-item:hover {
  background-color: rgba(0, 0, 0, 0.07);
}


#modalDetailedInfo {

  top: initial ! important;
  left: initial ! important;
  bottom: 2vh ! important;
  right: 2vh ! important;
  width: 500px ! important;
  height: calc(100vh - 250px) ! important;
  max-height: initial ! important;
}

#modalDetailedInfo > div {
  padding: 0;
}

#imageBig {

    max-width: 100%;
    max-height: 100%;
}

.modal-footer {
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px ! important;
}

#itemTitle {
  margin: 0;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.modal-footer a {

  margin-bottom: 11px ! important;

}

label.active {
  color: transparent ! important;
}

.hidden {
  display: none ! important;
}